li
  = presentation.title
  = link_to presentation.video_url, presentation.video_url, class: "presentation__video"
  = link_to presentation.slides_url, presentation.slides_url, class: "presentation__slides"
